body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #141E30, #243B55);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif ;
}

.card{
    aspect-ratio: 1/1.5;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 0px;
    transition: all .1s ease;
}

.card:hover .card-body{
    opacity: 1;
    bottom: 0;
}

.card-body{
    position: absolute;
    bottom: -50px;
    right: 0;
    opacity: 0;
    transition: all .2s ease;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.5), transparent);
}

.card-body a, .buttons button, .button{
    background-color: #243B55 !important;
    color: #fff !important;
    width: 42px;
    aspect-ratio: 1/1;
    transition: all .2s ease;
}

.card-body a:hover, .buttons button:hover{
    transform: scale(1.1);
    background-color: #fff !important;
    color: #141E30 !important;
    box-shadow: 0 8px 32px rgba(25, 25, 25, .15);
}

h6:nth-child(2){
    min-width: 100%;
}

input[type="search"]:focus{
    outline: none;
}